
        * {
            padding: 0;
            margin: 0;
        }
        
        body {
            background-image: url("bg_img_1.jpg");
            font-family: 'Courier New', Courier, monospace;
        }
    
      @media only screen and (min-width: 820px) {
        .cont{
        margin-top:40px ;
        width: 92%;
        /* background-color: #141616; */
        padding: 10px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        overflow: auto;
        }
        header img{
            width: 140px;
            height: 80px;
        }
        header a{
            font-size: 32px;
        }
        .side-list{
        width: 20%;
        float: right;
        }
      }
      @media only screen and (max-width: 821px) {
        header img{
        display: none;
        }
        form{
            display: none;
        }
        header ul{
            margin: auto;
        }
        header a{
            font-size: 32px;
        }
        .side-list{
          width: 80%;
        }
      }
      body {
        background-image: url(./bg_img_3.jpg);
        background-repeat: no-repeat;
        object-fit: cover;
      }
      header {
        width: 100%;
        height: 80px;
        /* background-image: linear-gradient(#21ccb5, rgb(168, 187, 187)); */
        /* background-color: #212121; */
        border-radius: 5px;
        box-shadow: 2px 2px 4px #383333;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        position: relative;
        margin-top:0px ;
      }

      header ul {
        display: flex;
        list-style: none;
      }

      header li,
      header a {
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        padding: 20px 10px 20px 10px;
        text-decoration: none;
        color: #65649c;
      }

      header input {
        width: 180px;
        height: 35px;
        border-radius: 15px;
        margin-top: 5px;
        margin-right: 10px;
      }

      header button {
        width: 20px;
        height: 20px;
        margin-left: -45px;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 0px;
        background-color: white;
      }
      header form {
        margin-right: 10px;
      }
      .back-color{
        position: absolute;
        background-color: #383333;
        opacity: 0.6;
        width: 100%;
        height: 80px;
        margin-top:0px ;
      }
        section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }
        article{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        .anime_info {
            display: flex;
            justify-content: center;
            align-items:center;
        }
        .desc {
          margin-top: 50px;
            width: 50%;
            background-color: rgba(54, 51, 51, 0.5)
        }
        .info{
            border-radius: 10px;
            background-color: #4882c3b2;
            font-weight:bolder;
            font-size: large;
            text-align: center;
            font-style: oblique;
        }
        .info span{
            color:antiquewhite ;
            text-shadow:1px 1px black;
        }
        .desc p{
            width: 80%;
            font-size: large;
            font-style: oblique;
            font-weight: bold;
            color: floralwhite;
            text-shadow:1px 1px black;

        }
        .desc h3{
            color:rgb(170, 166, 219) ;
            text-shadow:1px 1px black;
        }
        .poster{
            display: flex;
            width: 30%;
            overflow-wrap: break-word;
        }
        .poster h3{
            color: rgba(1, 8, 19, 0.554);
            font-weight: bolder;
            font-size: x-large;
            font-style: oblique;
            height: 20px;
            margin-left: 3%;
        }
        .poster img {
            height: 390px;
            margin-left: 5%;
            margin-bottom: 10%;
            border-radius: 3%;
            box-shadow: 2px 1px 2px rgba(99, 93, 134, 0.808);
        }

        .container iframe {
            height: 600px;
            width: 100%;
        }

        .container {
            margin: auto;
            width: 95%;
        }
        .discussion{
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            text-align: center;
            font-style: oblique;
            position: relative;
            background-color: rgba(156, 152, 146, 0.8);
        }
        .discussion h3{
            margin-right: 35%;
            color:rgba(240, 225, 205, 0.835) ;
            text-shadow:1px 1px black;
            font-size: 30px;
        }
        .discussion p{
            font-weight: bolder;
            text-shadow:1px 1px black;
            width: 50%;
            color:rgba(224, 191, 147, 0.828) ;
            margin-left: 30%;
            border: 2px solid rgb(36, 76, 163);
            border-radius: 5px;
            background-color: rgba(54, 51, 51, 0.5)
        }
        .discussion span{
            margin-right: 35%;
            color:rgba(224, 191, 147, 0.828) ;
            text-shadow:1px 1px black;
        }
        .category {
          background-image: linear-gradient(#21ccb5, rgb(168, 187, 187));
          color: white;
          font-size: small;
          display: none;
          border-radius: 10px;
        }
        .category > ul {
          list-style: none;
        }
        .category > ul > li {
          font-size: small;
          height: 10px;
        }
        .category > ul > li > a {
          font-size: small;
          height: 10px;
        }
        .dropbtn {
          background-color: #04aa6d;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
        }
        
        .dropdown {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
        }
        
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        .dropdown-content a:hover {
          background-color: #ddd;
        }
        
        .dropdown:hover .dropdown-content {
          display: block;
        }
        
        .dropdown:hover .dropbtn {
          background-color: #3e8e41;
        }
        .bg-img {
          width: 100%;
          height: 200%;
          position: absolute;
        }