* {
    margin: 0;
    padding: 0;
  }

  @media only screen and (min-width: 820px) {
    .cont {
      margin-top: 40px;
      width: 92%;
      padding: 10px;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      overflow: auto;
    }

    header img {
      width: 140px;
      height: 80px;
    }

    header a {
      font-size: 32px;
    }

    .side-list {
      width: 30%;
      float: right;
    }
    .side-list ol{
    margin: 10px 0px 20px 35px;
    line-height: 30px;
    font-size: 20px;
    list-style: none;
  }
  }

  @media only screen and (max-width: 821px) {

    header img {
      display: none;
    }

    header form {
      display: none;
    }

    header ul {
      margin: auto;
    }

    header a {
      font-size: 32px;
    }

    .side-list {
      width: 90%;
      margin: auto;
      text-align: center;
    }
    .side-list h4{
      font-size: 40px;
    }
    .side-list ol{
    /* margin: 10px 0px 20px 55px; */
    text-align: center;
    list-style: none;
    line-height: 50px;
    font-size: 30px;
  }
  }

  header {
    width: 100%;
    height: 80px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #383333;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
    margin-top: 0px;
  }

  header ul {
    display: flex;
    list-style: none;
  }

  header li,
  header a {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding: 20px 10px 20px 10px;
    text-decoration: none;
    color: #65649c;
  }

  header input {
    width: 180px;
    height: 35px;
    border-radius: 15px;
    margin-top: 0px;
    margin-right: 10px;
  }

  header button {
    width: 20px;
    height: 20px;
    margin-left: -45px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 0px;
    background-color: white;
  }

  header form {
    margin-right: 20px;
  }

  .back-color {
    position: absolute;
    background-color: #383333;
    opacity: 0.8;
    width: 100%;
    height: 80px;
    margin-top: 0px;
  }

  .cont {
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
  }

  .cards {
    width: 90%;
  }

  .card {
    min-width: 400px;
    width: 95%;
    min-height: 200px;
    background-color: #5c9191;
    padding: 10px 10px 0px 10px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    opacity: 0.93;
    animation: bounce 1.5s infinite;
  }
  .card:hover{
    opacity: 2;
    animation: none;
    transform: scale(1.05);

  }
  .card img {
    width: 150px;
    height: 160px;
  }

  .side-list {
    min-width: 300px;
    height: fit-content;
    background-color: #2f7552;
    padding: 20px;
    margin: 20px;
    opacity: 0.93;
  }
  .side-list:hover{
    opacity: 1;
    transform: scale(1.07);
  }
  .details{
    width: 80%;
    margin: 10px;
  }
  @keyframes bounce {
    0% {
      tranform: translate(0, 5px);
    }
    50% {
      transform: translate(0, 5px);
    }
}

.category {
  background-image: linear-gradient(#21ccb5, rgb(168, 187, 187));
  color: white;
  font-size: small;
  display: none;
  border-radius: 10px;
}
.category > ul {
  list-style: none;
}
.category > ul > li {
  font-size: small;
  height: 10px;
}
.category > ul > li > a {
  font-size: small;
  height: 10px;
}
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.bg-img {
  width: 100%;
  height: auto;
  position: absolute;
}