<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/anime_pg.css' %}">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
</head>
<body>
    <img class="bg-img" src="{% static 'images/bg_img_3.jpg' %}" />

    <div class="back-color"></div>
    <header class="header">
      <img src="https://i.ibb.co/HYgRrcm/header-logo.png" alt="website-logo" />
      <ul>
        <li><a class="text-decoration-none" href="/main/welcome"> Home</a></li>
        <li><a class="text-decoration-none" href="/main/trending"> Trending</a></li>
        <li><a class="text-decoration-none" href="/main/profile/{{request.session.user_id}}"> Profile</a></li>
        
  </ul>
  
  <form action="/main/searchh" method="POST">
    {% csrf_token %}
    {% if request.session.user_id %}
    <a class="logout"  href="/main/logout" style="color: red; font-size: 20px;margin-left: 100px; background-color: rgb(24, 16, 32); height: 20px; border-radius: 30px; opacity: 1;">logout</a>
    {% else %}
    <a class="login"  href="/" style="color: red; font-size: 20px;margin-left: 100px; background-color: rgb(24, 16, 32); height: 20px; border-radius: 30px; opacity: 1;">login</a>
     {% endif %}
  <div class="search-box">

    <input id="tags" name="search" type="text" placeholder=" search by name" />
    <button  class="btn">></button></div>

</form>
    </header>
    <section>
        <div class="container">
            <iframe width="962" height="541" src="{{this_anime.trailer_url}}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </section>
    <article>
    <div class="poster">
        <img src="{{this_anime.pic_url}}" alt="poster-img">
            <h3>{{this_anime.title}}</h3>
        <form action="/main/add_like" method="POST">
        {% csrf_token %}
        <input type="submit" style="width: 120px; height: 30px; background-color: rgb(255, 208, 0); color: white;" value="add to favoriets">
        </form>
        <form action="/main/delete_like" method="POST">
            {% csrf_token %}
            <input type="submit" style="width: 120px; height: 30px; background-color: rgb(255, 0, 0); color: white;" value="remove favoriet">
            </form>
    </div>
    <div class="anime_info">
        
    </div>
    <div class="desc">
        <div class="info">
        <span>Category : Action / Drama / Horror / Psychological / Seinen / Supernatural</span><br>
        <span>Release Date:  {{this_anime.release_date}} </span>
        <span>Rating: {{this_anime.rating}}</span>
    </div>
        <h3>The Plot</h3>
        <p>{{this_anime.desc}}</p>
    </div>
</article>
<div class="discussion">
    <h3>Discussion</h3>
    <form action="/main/add_comment" method="POST">
        {% csrf_token %}
    <input type="text" name="comment" placeholder="write a comment..">
    <input style="background-color: blue;" type="submit" value="add">
    </form>
    {% for comment in all_comments %}
    <h4>User:<a href="/main/profile/{{comment.user_id.id}}">{{comment.user_id.username}}</a></h4>
    <p>{{comment.comment}}</p>
    {% endfor %}
</div>
</body>
<script>
    $(function () {
                $("#tags").autocomplete({
                    source: "{% url 'autocomplete' %}",
                    minLength: 1
                });
            });
</script>
</html>