<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/homepage.css' %}">    
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <title>Home</title>
        </head>
        <body>

  <div class="back-color"></div>
  <header class="header">
    <img src="https://i.ibb.co/HYgRrcm/header-logo.png" alt="website-logo" />
    <ul>
      <li><a class="text-decoration-none" href="/main/welcome"> Home</a></li>
      <li><a class="text-decoration-none" href="/main/trending"> Trending</a></li>
      <li><a class="text-decoration-none" href="/main/profile/{{request.session.user_id}}"> Profile</a></li>
    </ul>

    <form action="#" method="POST">
        {% if request.session.user_id %}
        <a class="logout"  href="/main/logout" style="color: red; font-size: 20px;margin-left: 100px; background-color: rgb(24, 16, 32); height: 20px; border-radius: 30px; opacity: 1;">logout</a>
        {% else %}
        <a class="login"  href="/" style="color: red; font-size: 20px;margin-left: 100px; background-color: rgb(24, 16, 32); height: 20px; border-radius: 30px; opacity: 1;">login</a>
         {% endif %}
      <div class="search-box">
        <input type="text" placeholder="  search by name" />
        <button class="btn">></button></div>
    </form>
  </header>
  <div class="slideshow-container">
    <div class="mySlides fade">
        <div class="numbertext">1 / 4</div>
        <a href="/main/anime/{{background1.id}}"><img src="{{background1.pic_bg}}" style="width:100%"></a>
        <div class="text"><p>{{background1.title}}</p></div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">2 / 4</div>
        <a href="/main/anime/{{background2.id}}"><img src="{{background2.pic_bg}}" style="width:100%"></a>
        <div class="text"><p>{{background2.title}}</p></div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">3 / 4</div>
        <a href="/main/anime/{{background3.id}}"><img src="{{background3.pic_bg}}" style="width:100%"></a>
        <div class="text"><p>{{background3.title}}</p></div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">4 / 4</div>
        <a href="/main/anime/{{background4.id}}"><img src="{{background4.pic_bg}}" style="width:100%"></a>
        <div class="text"><p>{{background4.title}}</p></div>
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
            <br>
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span> 
                <span class="dot" onclick="currentSlide(3)"></span> 
                <span class="dot" onclick="currentSlide(4)"></span> 
            </div>
            <header class="titles">
                {% for anime in animenames %}
                <article>
                    <img src="{{anime.pic_url}}" alt="">
                    <p><a href="/main/anime/{{anime.id}}">{{anime.title}}</a></p>
                </article>
                {% endfor %}
            </header>
            <header class="titles">
                {% for anime in animenames1 %}
                <article>
                    <img src="{{anime.pic_url}}" alt="">
                    <p><a href="/main/anime/{{anime.id}}">{{anime.title}}</a></p>
                </article>
                {% endfor %}
            </header>
        </header>
        <footer class="mainfooter" role="contentinfo">
            <div class="footer-middle">
            <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4>Follow Us</h4><br>
                    <ul class="social-network social-circle">
                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>				
                </div>
            </div><br><br><br>
            <div class="row">
                <div class="col-md-12 copy">
                    <p class="text-center">&copy; Copyright 2018 - Company Name.  All rights reserved.</p>
                </div>
            </div>
            </div>
            </div>
        </footer>
            <script>
            var slideIndex = 1;
            showSlides(slideIndex);
            function plusSlides(n) {
            showSlides(slideIndex += n);
            }
            function currentSlide(n) {
            showSlides(slideIndex = n);
            }
            function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}    
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
            }
            </script>
            
        </body>
    </html> 
