<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Trending</title>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% load static %}
  <link rel="stylesheet" href="{% static 'css/trending.css' %}">
</head>

<body>
  <img class="bg-img" src="{% static 'images/bg_img_3.jpg' %}" />

  <div class="back-color"></div>
  <header>
    <img src="https://i.ibb.co/HYgRrcm/header-logo.png" alt="website-logo" />
    <ul>
      <li><a class="text-decoration-none" href="/main/welcome"> Home</a></li>
      <li><a class="text-decoration-none" href="/main/trending"> Trending</a></li>
      <li><a class="text-decoration-none" href="/main/profile"> Profile</a></li>

</ul>

    <form action="#" method="POST">
      <a class="logout"  href="/main/logout" style="color: red; font-size: 20px;margin-left: 100px; background-color: rgb(24, 16, 32); height: 20px; border-radius: 30px; opacity: 1;">logout</a>
      <div class="search-box">
        <input type="text" placeholder="  search by name" />
        <button class="btn">></button></div>
    </form>
  </header>
  <div class="cont">
    <div class="cards">
      {% for i in last_commented %}
        <div class="card">
            <div><img src="{{i.anime_id.pic_url}}" alt="an image"></div>
                <div class="details" style="display: inline;">
                  <h3><a href="/main/anime/{{i.anime_id.id}}"> {{i.anime_id.title}}</a></h3>
                  <p>{{i.comment}}</p>
            </div>
        </div>
      {% endfor %}
    </div>
    <div class="side-list">
      <div class="list">
        <h4>hottest rigth now</h4>
        <ol>
          {% for i in most_liked %}
            <li><a href="/main/anime/{{i.id}}">{{i.title}}</a></li>
            {% endfor %}
        </ol>
        <h4>latest animes</h4>
        <ol>
          {% for i in latest_animes %}
          <li><a href="/main/anime/{{i.id}}">{{i.title}}</a></li>
          {% endfor %}
        </ol>
        <h4>our Top list</h4>
        <ol>
            {% for i in hottest_animes %}
            <li><a href="/main/anime/{{i.id}}">{{i.title}}</a></li>
            {% endfor %}
          </ol>
        </ol>
      </div>
    </div>
  </div>

</body>

</html>