<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"/> 
      {% load static %}   
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
  <body>
    <img class="bg-img" src="{% static 'images/login_background.jpg' %}" />
        <header class="d-flex justify-content-end">
      <form action="/">
        <input type="submit" value="Join as a Guest" class="btn btn-outline-success">
      </form>
    </header>
    <container>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <form action="/profile/login" method="POST" class="box">
                {% csrf_token %}
                <h1>Login</h1>
                <p class="text-muted">Please enter your login and password!</p>
                <input type="text" name="username" placeholder="Username" />
                <input type="password" name="password" placeholder="Password" />
                <input type="submit" value="Login"/>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <form action="/profile/register" method="POST" class="box">
                {% csrf_token %}
                <h1>Register</h1>
                <p class="text-muted">Please enter your account info</p>
                <input type="text" name="email" placeholder="Email" />
                <input type="text" name="username" placeholder="Username" />
                <input type="password" name="password" placeholder="Password" />
                <input type="submit" value="Register"/>
              </form>
              {% if messages %}
      <ul class="messages">    
    {% for message in messages %}    
        <li>{{ message }}</li>    
    {% endfor %}
      </ul>
{% endif %}
            </div>
          </div>
        </div>
      </div>
    </container>

    <footer></footer>
  </body>
</html>
